---
layout: blog
path: blog
---

<section>
    {% set postslist = collections.post %}

    <div class="container">
        <div class="row">
        {% for post in postslist | reverse %}
            <article class="col-lg-4 col-md-6">
                <h2>
                    <a href="{{ post.url | url }}">
                        {% if post.data.title %}
                        {{ post.data.title }}
                        {% else %}
                        Untitled
                        {% endif %}
                    </a>
                </h2>
                <p>
                    <time>
                        {{ post.date | readableDate }}
                        by
                        <a>{{ post.data.author }}</a>
            
                    </time>
                </p>
                {% if post.data.description %}
                <p>
                    {{ post.data.description }}
                </p>
                {% endif %}
            
                <p>
                    <a href="{{ post.url | url }}">
                        Read more →
                    </a>
                </p>
            
            </article>
            {% endfor %}
        </div>
    </div>
</section>