<nav id="nav" class="container-fluid">
    <div id="logo">
        <a href="/index.html"><img src="assets/img/logo1.png" alt="Main Logo"></a>
    </div>

    <div id="menu-btn">
        <span class="lines"></span>
    </div>

    {% if navigation.items %}
    
    <ul id="menu">
        {% for item in navigation.items %}
        <li>
            <a class="menu-item" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
    
    {% endif %}

    <!-- <ul id="menu"> -->
        <!-- <li><a href="#">About</a></li> -->
        <!-- <li><a class="menu-item" href="./services.html">Services</a></li>
        <li><a class="menu-item" href="./portfolio.html">Portfolio</a></li>
        <li><a class="menu-item" href="./contact.html">Contact</a></li> -->
        <!-- <li><a href="#">Blog</a></li> -->
    <!-- </ul> -->
</nav>